body{
    background-image:url('tuscany_italy_green_trees_hills_forest_grass_bushes_mountains_with_fog_sunrays_nature_4k_5k_hd_nature-1600x900.jpg');
    
}
h1{
    color: ;
    font-size: 70px;
    margin-top: 200px;
    text-align:center;
}